@using BazarBD.Data.Entidades
<EditForm Model="cliente" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Nombre</label>
        <div>
            <InputText class="form-control" @bind-Value="@cliente.NombreCliente" />
            <ValidationMessage For="@(() => cliente.NombreCliente)" />
        </div>

    </div>
    <div class="form-group">
        <label>Apellido</label>
        <div>
            <InputText class="form-control" @bind-Value="@cliente.ApellidoCliente" />
            <ValidationMessage For="@(() => cliente.ApellidoCliente)" />
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>
</EditForm>

@code {
    [Parameter] public Cliente cliente { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}
