<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bazar</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

                        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Cliente">
               <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg>


                <span class="bi bi-person-plus" aria-hidden="true"></span> Clientes
            </NavLink>

                    <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Renglon">
                <span class="oi oi-chat" aria-hidden="true"></span> Renglon
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Facturas">
                <span class="oi oi-book" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Producto">
                <span class="oi oi-dollar" aria-hidden="true"></span> Productos
            </NavLink>
        </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
